.row .one-half {
 float: left;
 width: 50%;
 font-weight: bold;
 text-align: center;
}

.row .one-half img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#left-image {
    width: 200px;
}

.row {
 clear: both;
 width: 100%;
 margin-bottom: 75px;
}

.figure {
    text-align: center;
}

.text-left {
    text-align: left;
}